<%
  logger.info "setting: " + Setting.plugin_quick_view['worktime_ext_dialog_anchor_enabled']

  worktime_ext_dialog_anchor_enabled = Setting.plugin_quick_view['worktime_ext_dialog_anchor_enabled']
  worktime_ext_dialog_anchor_enabled = (worktime_ext_dialog_anchor_enabled == "on")
  worktime_ext_tooltip_enabled = Setting.plugin_quick_view['worktime_ext_tooltip_enabled']
  worktime_ext_tooltip_enabled = (worktime_ext_tooltip_enabled == "on")
  worktime_ext_enabled = worktime_ext_dialog_anchor_enabled | worktime_ext_tooltip_enabled
%>
<% if worktime_ext_enabled %>
<script>
//<![CDATA[
if ($("body").hasClass("controller-work_time")) {
  <% if worktime_ext_dialog_anchor_enabled %>
  quick_view_work_time_extension_dialog_anchor_init();
  $(document).ajaxComplete(quick_view_work_time_extension_dialog_anchor_init);
  <% end %>

  <% if worktime_ext_tooltip_enabled %>
  quick_view_work_time_extension_tooltip_init();
  $(document).ajaxComplete(quick_view_work_time_extension_tooltip_init);
  <% end %>
}

function quick_view_work_time_extension_dialog_anchor_init() {
  var links = $(".wt_iss_link");
  links.each(function(){
     var link = $(this);
     if (link.hasClass("has_quick_view_anchor")) return;

     var insertTo = link.next(".wt_done_ratio");
     if (insertTo.length == 0) {
       insertTo = link;
     }
     var issue_id = link.data("issue");
     var anchor_html="<a style='margin-left: 5px;' href='javascript: quick_view_show_dialog("+issue_id+");'><img src='<%= image_path("external.png") %>'></img></a>";
     $(anchor_html).insertAfter(insertTo);
     link.addClass("has_quick_view_anchor");
  });
}

function quick_view_work_time_extension_tooltip_init() {
  var links = $(".wt_iss_link");
  quick_view_tooltip_init(links, quick_view_work_time_extension_issue_id_parser);
}

function quick_view_work_time_extension_issue_id_parser(link) {
  return link.data("issue");
}
//]]>
</script>
<% end %>
