<%
   extend AttachmentsHelper
   extend CustomFieldsHelper
   extend JournalsHelper

   issue = @issues.first
   journals = issue.journals.includes(:user, :details).reorder("#{Journal.table_name}.id ASC").all
   journals.each_with_index {|j,i| j.indice = i+1}
   journals.reject!(&:private_notes?) unless User.current.allowed_to?(:view_private_notes, issue.project)
   journals.reverse! if User.current.wants_comments_in_reverse_order?

   dialog_id = Time.now.to_i
%>
  <li><%= context_menu_link(
            l(:button_quick_view),
            "javascript:quick_view_show_dialog(#{issue.id})",
            :class => 'icon-show'
         ) %></li>

<%= render 'hooks/quick_view_issue_dialog', :project => @project, :issue => issue %> 

<script>
//<![CDATA[

function quick_view_show_dialog(issue_id) {
  if (!issue_id) {
     return;
  }

  var  dialog_id = $(".quick_view_dialog[data-issue=%s]".replace('%s',issue_id)).attr("id");

  var last = $(".quick_view_dialog:last");
  var position = null;
  if (last.attr("id") != dialog_id) {
     position={ my: "left top", at: "left+10px top+10px", of : last };
  }

  $('#'+dialog_id).dialog({
     modal: false,
     closeOnEscape: false,
     width: 800,
     height: 480,
     position: position,
     buttons: {
        "close" : quick_view_dialog_cancel
     },
     close: quick_view_dialog_close
  });
}

function quick_view_dialog_close(){
  $(this).remove();
}

function quick_view_dialog_cancel(){
  $(this).dialog("close");
}

//]]>
</script>
